body {
    /* width: 100vw; */
    margin-left: 5%; 
}

html {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.vogue-logo {
    height: 56px;
    width: 212px;
}

.nav-one {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}


.nav-one-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 13px;
}

.nav-one-right button {
    text-transform: uppercase;
    background-color: #EE0000;
    color: white;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    border: none;
    height: 40px;
}


.nav-two {
    background-color: white;
    position: relative;
    width:100%;
    max-height: 30%;
}

.nav-two ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    overflow: hidden;
}

.nav-two li {
    display: inline-block;
    margin: 0.5rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#2D2E2F;
    transition: 0.3s ease-in-out;
}

.nav-two li:hover {
    color:rgb(133, 131, 131);
}


.top-stories h2 {
    text-align: left;
    
}


.app-left card img{
    display: flex;
    justify-self: left;
    width: 30%;

}

.app-right-left-side card img{
    display: flex;
}

.top-stories {
    display: flex;

    
}
.app-left {
    width: 50%;
}

.app-right {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

card>a>img {
    height: 300px;
    width: 200px;
    object-fit: cover;
}

.app-right-right-side {
    width: 50%;
}

.app-right-left-side {
    width: 50%;
}










